*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("images/Scenery\ background.jpg");
    background-size: cover;
    background-position: center;
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: bisque;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px;
    border-bottom: 2px solid black;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top:5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    font-size: 1em;
    color: black;
}



.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color:black;
    display: flex;
    justify-content: space-between;

}

button {
    width:100%;
    height: 40px;
    background: wheat;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 500;
}

.register-link{
    font-size: 9em;
    color: wheat;
    text-align: center;
    margin: 25px 0 10px;
}

